/* Footer */
footer{
    background-color: #fff;
    padding: 1rem 0;
    margin-top: 3rem;
    text-align: center;
    color: var(--tulisan);
}

footer .social{
    padding: 1rem 0;
}

.social h6{
    font-size: 18px;
}

.social p{
    font-size:15px;
    margin-bottom: 1.5rem;
}

footer .social a{
    color: var(--tulisan);
    margin: 1rem;
    transition: all 300ms ease;
}

footer .social a:hover{
    color: var(--hover);
    margin: 1rem;
}

footer .hubungi-kami{
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}

footer .hubungi-kami a{
    font-size: 13px;
    padding: 1rem;
    background-color: var(--tulisan);
    color: #fff;
    border-radius: 10px;
    border-color: var(--primary);
    border-width: 2pt;
    cursor: pointer;
    transition: all 300ms ease;
}

footer .hubungi-kami a:hover{
    color: var(--tulisan);
    background-color: var(--hover);
    font-weight: bold;
}

.whatsapp-icon{
    font-size: 1.7rem;
    margin-right: 0.7rem;
}

footer .credit{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

footer .credit a{
    color: var(--tulisan);
    font-weight: bold;
    font-family: "Varela Round";
    transition: all 300ms ease;
}

footer .credit a:hover{
    color: var(--hover);
    font-weight: bold;
}