:root {
    --primary: #F6D41B;
    --bg: rgb(50, 48, 138);
    --tulisan: rgb(21, 19, 63);
    --hover: rgb(117, 145, 206);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', 'Poppins',sans-serif;
    background-image: linear-gradient(rgb(13, 12, 37), rgb(50, 48, 138));
    color: #fff;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.5rem 7%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    -webkit-box-align: center!important;
    align-items: center!important;
    display: flex!important;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-logo .keterangan-logo{
    margin-left: 0.5rem!important;
    font-size: 18px;
    color: var(--tulisan);
    display: flex!important;
    flex-direction: column!important;
}

.navbar-logo .keterangan-logo span.small{
    font-size:12px;
}

.navbar .navbar-nav ul{
    margin: 0px;
    padding: 0px;
    background: #fff;
    display: block;
    float:right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar ul li a{
    display:block;
    text-decoration: none;
    padding: 10px;
    color: var(--tulisan);
    font-size: 1.3rem;
    transition: all 300ms ease;
}


.navbar ul li a:hover{
    display: block;
    color: var(--tulisan);
    font-weight: bold;
}

.navbar ul li .nav-dropdown{
    display: none;
    border-radius: 0.3em;
    background:#fff;
    position: absolute;
    z-index: 999;

}

.navbar ul li:hover .nav-dropdown{
    display:block;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

.navbar ul li:hover .nav-dropdown li{
    display: block;
    padding: 0px;
}

.navbar ul li:hover .nav-dropdown li a{
    background:#fff;
}

.navbar .navbar-extra a{
    color: var(--tulisan);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--tulisan);
    font-weight: bold;
}

#hamburger-menu{
    display: none;
}

/* Section 1: Halaman utama login */
/*Header*/
#home{
    
    height: 100vh;
    color: white;
}

.hero{
    display: flex!important;
    -webkit-box-align: center!important;
    align-items: center!important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
}

#home .awalan{
    max-width: 100vw;
}

.hero{
    height: 100vh;
}

/*
#home .awalan .organisasi{
    text-align: center!important;
}

#home .awalan .organisasi h1{
    margin-top: 40px;
}

#home .awalan .organisasi p{
    margin-bottom: 8px;

}

#home .awalan .organisasi h1{
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

#home .awalan .organisasi p{
    padding-top: 0.3125rem;
    padding-bottom: 0rem;
    font-size: 1.5rem;
    color: #fff;
}*/

/* Login */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form-box{
    margin-top: 1.25rem;
    font-family: "poppins";
    position: relative;
    padding: 3rem;
    background: transparent;
    border: 2.5px solid var(--hover);
    border-radius: 20px;
    backdrop-filter: blur(1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 3em;
    color: #fff;
    text-align: center;
    font-style: bold;
}

.inputbox{
    position: relative;
    margin: 1.25rem 0;
    width: 19.4rem;
    border-bottom: 2px solid #fff;
}

.inputbox input{
    width: 100%;
    height: 3.2rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.3em;
    padding: 0 2.2rem 0 0.3rem;
    color: #fff;
}

.inputbox a{
    position: absolute;
    right: 0.5rem;
    color: #fff;
    font-size: 1.2em;
    top: 1.rem;
}

.forget{
    margin: -5px 0 15px;
    padding: 1em;
    font-size: 1em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input{
    margin-right: 3px;
}

.forget label a{
    color: #fff;
    text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 2.5rem;
    border-radius: 40px;
    background: #fff;
    color: var(--tulisan);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6em;
    font-weight: 600;
}

button:hover{
    background: var(--hover);
    color: #fff;
    transition: .2s;
}

.register{
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin: 1.6rem 0 0.6rem;
    padding-bottom: -1rem;
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

::placeholder{
    color: var(--hover);
    font-family: "Poppins";
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 0.3rem;
    padding-right: 0;
}

/* Media Querius */
/* Laptop */
@media (max-width: 1366px){
    html{
        font-size:75%;
    }
}

/* Tablet  */
@media (max-width: 768px){
    html{
        font-size:62.5%;
    }
    /* Navbar-Sidebar */
    #hamburger-menu{
        display:inline-block;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 15rem;
        height: 35vh;
        transition: all 300ms ease;
    }

    .navbar .navbar-nav.active{
        right:0;
    }

    .navbar .navbar-nav ul li a{
        color: var(--tulisan);
        display: block;
        margin: 1.5rem;
        padding: 0.3rem;
        font-size: 1.5rem;
    }

    .navbar ul li .nav-dropdown{
        right: 50%
    }

    .navbar ul li:hover .nav-dropdown li a{
        border-radius: 0.5rem;
        padding: 5px;
    }
    .navbar .navbar-nav ul li a:hover{
        color: var(--tulisan);
    }    
}

/* Mobile Phone */ 
@media (max-width: 450px){
    html{
        font-size:55%;
    }  
}