.ukm-penjelas{
    background-image: linear-gradient(rgb(13, 12, 37), rgb(50, 48, 138));
    color: white;
}

.macam-ukm .macam-ukm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-macam-ukm {
    flex: 0 0 30rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 2rem;
    cursor: pointer;
}


.product-macam-ukm h1{
    color: var(--tulisan);
    margin-bottom: 0.5rem;
}

.product-macam-ukm p{
    color: var(--tulisan);
}

.macam-ukm .macam-ukm-container .product-macam-ukm:hover {
    outline: .2rem solid var(--primary);
}

.macam-ukm .macam-ukm-container .product-macam-ukm img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    padding: 4rem;
}

.macam-ukm .macam-ukm-container .product-macam-ukm:hover img {
    transform: scale(.95);
    transition: all 0.3s;
}

.macam-ukm .macam-ukm-container .product-macam-ukm button{
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: rgb(209, 209, 209);
    border: 1px solid var(--tulisan);
    border-radius: 2rem;
    transition: all 300ms ease;
}

.macam-ukm .macam-ukm-container .product-macam-ukm button:hover{
    background-color: var(--hover);
    color: var(--tulisan);
    border: var(--hover);
}

.product-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.product-preview .preview {
    display: none;
    padding: 3rem;
    text-align: center;
    background: #B3CDE0;
    border-radius: 10px;
    position: relative;
    margin: 2rem;
    width: 50rem;
    color: black;
}

.product-preview .preview.active {
    display: inline-block;
}

.product-preview .preview h4{
    text-align: left;
    line-height: 1.7rem;
    padding: 1.7rem 0 0.5rem;
}

.product-preview .preview p{
    text-align: left;
    line-height: 1.7rem;
}

ul.text-list {
    padding-left: 0; 
} 

ul.text-list li {
    text-align: left;
    margin-left: 3rem;
}

.product-preview .preview button {
    margin-top: 1.5rem;
    width: 55%;
    height: 35px;
    padding: 1px;
    font-size: 10pt;
    font-weight: 700;
    text-align: center;
    background-color: #6497B1;
    border-radius: 5px;
    cursor: pointer;
}

.product-preview .preview button:hover {
    background-color: #0A4650;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.product-preview .preview img {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    width: 20px;
    transition: 0.2s;
}

.product-preview .preview img:hover {
    transform: rotate(90deg);
}
