:root {
    --primary: #F6D41B;
    --bg: rgb(50, 48, 138);
    --tulisan: rgb(21, 19, 63);
    --hover: rgb(117, 145, 206);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', 'Poppins',sans-serif;
    background-image: linear-gradient(rgb(13, 12, 37), rgb(50, 48, 138));
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.5rem 7%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    -webkit-box-align: center!important;
    align-items: center!important;
    display: flex!important;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-logo .keterangan-logo{
    margin-left: 0.5rem!important;
    font-size: 18px;
    color: var(--tulisan);
    display: flex!important;
    flex-direction: column!important;
}

.navbar-logo .keterangan-logo span.small{
    font-size:12px;
}

.navbar .navbar-nav ul{
    margin: 0px;
    padding: 0px;
    background: #fff;
    display: block;
    float:right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar ul li a{
    display:block;
    text-decoration: none;
    padding: 10px;
    color: var(--tulisan);
    font-size: 1.3rem;
    transition: all 300ms ease;
}


.navbar ul li a:hover{
    display: block;
    color: var(--tulisan);
    font-weight: bold;
}

.navbar ul li .nav-dropdown{
    display: none;
    border-radius: 0.3em;
    background:#fff;
    position: absolute;
    z-index: 999;

}

.navbar ul li:hover .nav-dropdown{
    display:block;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

.navbar ul li:hover .nav-dropdown li{
    display: block;
    padding: 0px;
}

.navbar ul li:hover .nav-dropdown li a{
    background:#fff;
}

.navbar .navbar-extra a{
    color: var(--tulisan);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--tulisan);
    font-weight: bold;
}

#hamburger-menu{
    display: none;
}


   
/* Media Querius */
/* Laptop */
@media (max-width: 1366px){
    html{
        font-size:75%;
    }
}

/* Tablet  */
@media (max-width: 768px){
    html{
        font-size:62.5%;
    }
    /* Navbar-Sidebar */
    #hamburger-menu{
        display:inline-block;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 15rem;
        height: 35vh;
        transition: all 300ms ease;
    }

    .navbar .navbar-nav.active{
        right:0;
    }

    .navbar .navbar-nav ul li a{
        color: var(--tulisan);
        display: block;
        margin: 1.5rem;
        padding: 0.3rem;
        font-size: 1.5rem;
    }

    .navbar ul li .nav-dropdown{
        right: 50%
    }

    .navbar ul li:hover .nav-dropdown li a{
        border-radius: 0.5rem;
        padding: 5px;
    }
    .navbar .navbar-nav ul li a:hover{
        color: var(--tulisan);
    }    
}

/* Mobile Phone */ 
@media (max-width: 450px){
    html{
        font-size:55%;
    }  
}