:root {
    --primary: #F6D41B;
    --bg: rgb(50, 48, 138);
    --tulisan: rgb(21, 19, 63);
    --hover: rgb(117, 145, 206);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    font-family: 'Montserrat', 'Poppins',sans-serif;
    background-image: linear-gradient(rgb(13, 12, 37), rgb(50, 48, 138));
    color: #fff;
}

.container{
    margin: 1.25rem 20%;
    font-family: "poppins";
    position: relative;
    padding: 2rem;
    background: transparent;
    border: 2.5px solid var(--hover);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 3.4rem;
    color: #fff;
    text-align: center;
    font-style: bold;
}

.container form .form-value{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1.25rem 0 0.75rem 0;
}

form .form-value .inputbox{
    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

.inputbox label{
    color: #fff;
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.inputbox input{
    height: 2.8rem;
    width: 100%;
    color: var(--tulisan);
    border-radius: 0.3rem;
    padding-left: 1rem;
    outline: none;
    border: 0.1rem solid #ccc;
    border-bottom-width: 0.1rem;
    transition: all 0.3s ease;
}

.container2{
    display: flex;
    justify-content: left;
    align-items: center;
}

.radio-tile-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.input-container{
    position: relative;
    height: 5rem;
    width: 11rem;
    margin: 0.5rem;
}

.input-container input{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-container .radio-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1.5px solid #fff;
    border-radius: 8px;
    transition: all 300ms ease;
    
}

.input-container i{
    font-size: 2rem;
    padding: 0.5rem 0 0.3rem;
    margin-top: 0.5rem;
}

.input-container label{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.2rem 1rem;
}

input:checked + .radio-tile{
    background-color: var(--hover);
    box-shadow: 0 0 10px var(--hover);
    border: 1.5px solid var(--hover);
}

input:hover + .radio-tile{
    box-shadow: 0 0 10px var(--hover);
}

input:checked + .radio-tile i,
input:checked + .radio-tile label{
    color: var(--tulisan);
    font-weight: bold;
}

button[type="submit"]{
    width: 100%;
    height: 2.5rem;
    border-radius: 40px;
    background: #fff;
    color: var(--tulisan);
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
}

button[type="submit"]:hover{
    background: var(--hover);
    color: #fff;
    transition: .2s;
}

.forminput input:valid {
    border: 1.5px solid var(--tulisan);
}

.forminput input:invalid{
    border: 1.5px solid var(--primary);
}

.register{
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin: 1.6rem 0 0.6rem;
    padding-bottom: -1rem;
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}


/* Media Querius */
/* Laptop */
@media (max-width: 1366px){
    html{
        font-size:75%;
    }
}

/* Tablet  */
@media (max-width: 768px){
    html{
        font-size:62.5%;
    }

}

/* Mobile Phone */ 
@media (max-width: 450px){
    html{
        font-size:55%;
    }  
}