:root {
    --primary: #F6D41B;
    --bg: rgb(50, 48, 138);
    --tulisan: rgb(21, 19, 63);
    --hover: rgb(117, 145, 206);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', 'Poppins',sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/*
.bg-image{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: 100% cover;
    background-position: center;
}*/

/* .pembatas{
    height: 25vh;
    position: relative;
    line-height: center;
} */

.judul-container {
    display: flex;
    justify-content: center; /* Menengahkan horisontal */
    align-items: center; /* Menengahkan vertikal */
}

.judul{
    margin-top: 130px;
    font-size: 3em;
    font-weight: 600;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-color: #fff;
    padding: 0.5em;
    /* position: absolute;
    top: 50%;
    left: 50%;   
    transform: translate(-50%, -50%); */
}


/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.5rem 7%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    -webkit-box-align: center!important;
    align-items: center!important;
    display: flex!important;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-logo .keterangan-logo{
    margin-left: 0.5rem!important;
    font-size: 18px;
    color: var(--tulisan);
    display: flex!important;
    flex-direction: column!important;
}

.navbar-logo .keterangan-logo span.small{
    font-size:12px;
}

.navbar .navbar-nav ul{
    margin: 0px;
    padding: 0px;
    background: #fff;
    display: block;
    float:right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar ul li a{
    display:block;
    text-decoration: none;
    padding: 10px;
    color: var(--tulisan);
    font-size: 1.3rem;
    transition: all 300ms ease;
}


.navbar ul li a:hover{
    display: block;
    color: var(--tulisan);
    font-weight: bold;
}

.navbar ul li .nav-dropdown{
    display: none;
    border-radius: 0.3em;
    background:#fff;
    position: absolute;
    z-index: 999;

}

.navbar ul li:hover .nav-dropdown{
    display:block;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

.navbar ul li:hover .nav-dropdown li{
    display: block;
    padding: 0px;
}

.navbar ul li:hover .nav-dropdown li a{
    background:#fff;
}

.navbar .navbar-extra a{
    color: var(--tulisan);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--tulisan);
    font-weight: bold;
}

#hamburger-menu{
    display: none;
}

/* Section 1: Home */
#home{
    background-image: linear-gradient(rgb(13, 12, 37), rgb(50, 48, 138));
    height: 100vh;
    color: white;
}

.hero{
    padding-top: 10rem;
}

#home .awalan{
    max-width: 100vw;
}

#home .awalan .organisasi{
    text-align: center!important;
}

#home .awalan .organisasi .logo-organisasi{
    padding: 2rem;
}
#home .awalan .organisasi .nama-organisasi{
    font-size: 4.2rem;
    font-weight: 600;
}

#home .awalan .organisasi .kampus-organisasi{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 2.5em;
    font-weight: 200;
}

#home .awalan .organisasi .periode-organisasi{
    margin-top: 0px;
    font-size: 2rem;
    font-weight: 300;
}

#home .awalan .organisasi .kabinet-organisasi{
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Varela Round', sans-serif;
    margin-bottom: -130px;
}

/* Section 2: Tentang Kami */
.tentang-kami{
    /* display: block; */
    /* position: relative; */
    /* top: 8rem; */
    /* overflow: hidden; */
    height: 80vh;
    margin-bottom: 5rem;
    background-image: linear-gradient(rgba(103, 103, 103, 0.4), rgba(0,0,0,0.7)),url('../img/stis.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    /* background:rgb(50, 48, 138); */
    color: white;
}

.container{
    width: 100%;
    margin: 3em 2em 2em 4em;
    padding: 5.5rem 0;
}

.tentang-kami-full{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 70%;
}

.container-kiri{
    display: block;
}

.container-kiri img{
    border-radius: 20px;
    width: 100%;
    max-width: 2000px;
    padding: 10px 0 0 0;
}

.container-kanan{
    margin: 3rem 2rem 2.4rem 0;
    text-align: justify;
    line-height: 2.2em;
}

.container-kanan h1{
    line-height: 1.5em;
    font-size: 2.8em;
    font-weight: 600;
    text-align: left;
}

.container-kanan p{
    margin-right: 2rem;
    padding-right: 5rem;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-family: 'poppins', sans-serif;
}

.container-kanan button{
    padding: 8px;
    background-color: white;
    color: var(--tulisan);
    border-radius: 10px;
    border-color: var(--bg);
    border-width: 2pt;
    cursor: pointer;
}

.container-kanan button:hover{
    color: var(--primary);
    background-color: var(--tulisan);
}

/* Section 3: Highlight */
#highlight{
    height: 90vh;
}
.highlight-gallery{
    margin-top: -8rem;
    margin-bottom: 15rem;
}
.judul-container{
    margin-bottom: 2rem;
}
.wrapper{
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    position: relative;
    background: rgb(50, 48, 138);
}

.wrapper i{
    top:50%;
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 30px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    color: var(--tulisan);
}

.wrapper i:first-child{
    left: 20px;
    display: none;
}

.wrapper i:last-child{
    right: 20px;
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}
.carousel img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child{
    margin-left: 0px;
    
}
/* Footer */
footer{
    background-color: #fff;
    padding: 1rem 0;
    margin-top: 3rem;
    text-align: center;
    color: var(--tulisan);
}

footer .social{
    padding: 1rem 0;
}

.social h6{
    font-size: 18px;
}

.social p{
    font-size:15px;
    margin-bottom: 1.5rem;
}

footer .social a{
    color: var(--tulisan);
    margin: 1rem;
    transition: all 300ms ease;
}

footer .social a:hover{
    color: var(--hover);
    margin: 1rem;
}

footer .hubungi-kami{
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}

footer .hubungi-kami a{
    font-size: 13px;
    padding: 1rem;
    background-color: var(--tulisan);
    color: #fff;
    border-radius: 10px;
    border-color: var(--primary);
    border-width: 2pt;
    cursor: pointer;
    transition: all 300ms ease;
}

footer .hubungi-kami a:hover{
    color: var(--tulisan);
    background-color: var(--hover);
    font-weight: bold;
}

.whatsapp-icon{
    font-size: 1.7rem;
    margin-right: 0.7rem;
}

footer .credit{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

footer .credit a{
    color: var(--tulisan);
    font-weight: bold;
    font-family: "Varela Round";
    transition: all 300ms ease;
}

footer .credit a:hover{
    color: var(--hover);
    font-weight: bold;
}

/* Media Querius */
/* Laptop */
@media (max-width: 1366px){
    html{
        font-size:75%;
    }
    
    #about{
        height: 80vh;
    }

    .tentang-kami .container{
        font-size:100%
    }  
}

/* Tablet  */
@media (max-width: 768px){
    html{
        font-size:62.5%;
    }
    /* Navbar-Sidebar */
    #hamburger-menu{
        display:inline-block;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 15rem;
        height: 35vh;
        transition: all 300ms ease;
    }

    .navbar .navbar-nav.active{
        right:0;
    }

    .navbar .navbar-nav ul li a{
        color: var(--tulisan);
        display: block;
        margin: 1.5rem;
        padding: 0.3rem;
        font-size: 1.5rem;
    }

    .navbar ul li .nav-dropdown{
        right: 50%
    }

    .navbar ul li:hover .nav-dropdown li a{
        border-radius: 0.5rem;
        padding: 5px;
    }
    .navbar .navbar-nav ul li a:hover{
        color: var(--tulisan);
    }

    /*cover*/
    .hero .awalan .organisasi{
        font-size:62.5%
    }
    
    /* Tentang Kami */
    #about{
        height: 110vh;
    }

    .tentang-kami .container{
        font-size:100%
    }

    .tentang-kami-full{
        grid-template-columns: 1fr;

    }

    .tentang-kami .container-kiri .gambar-about img{
        border-radius: 30px;
        width: 80%;
        align-items: center;
    }

    .container-kanan{
        margin-top: -2rem;
    }
    .container-kanan p{
        margin-bottom: 1.3rem;
        text-align: justify;
    }

    /* Highlight */
    .carousel img{
        width: calc(100% / 2);
    }
    
}

/* Mobile Phone */ 
@media (max-width: 450px){
    html{
        font-size:55%;
    }

    /* cover */
    .hero .awalan .organisasi{
        font-size:55%
    }

    /* Highlight */
    .carousel img{
        width: 100%;
    }    
}

