:root {
    --primary: #F6D41B;
    --bg: rgb(50, 48, 138);
    --tulisan: rgb(21, 19, 63);
    --hover: rgb(117, 145, 206);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', 'Poppins',sans-serif;
    background-color: var(--bg);
    color: #fff;
    
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.5rem 7%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-logo {
    -webkit-box-align: center!important;
    align-items: center!important;
    display: flex!important;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-logo .keterangan-logo{
    margin-left: 0.5rem!important;
    font-size: 18px;
    color: var(--tulisan);
    display: flex!important;
    flex-direction: column!important;
}

.navbar-logo .keterangan-logo span.small{
    font-size:12px;
}

.navbar .navbar-nav ul{
    margin: 0px;
    padding: 0px;
    background: #fff;
    display: block;
    float:right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
}

.navbar ul li a{
    display:block;
    text-decoration: none;
    padding: 10px;
    color: var(--tulisan);
    font-size: 1.3rem;
    transition: all 300ms ease;
}


.navbar ul li a:hover{
    display: block;
    color: var(--tulisan);
    font-weight: bold;
}

.navbar ul li .nav-dropdown{
    display: none;
    border-radius: 0.3em;
    background:#fff;
    position: absolute;
    z-index: 999;

}

.navbar ul li:hover .nav-dropdown{
    display:block;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

.navbar ul li:hover .nav-dropdown li{
    display: block;
    padding: 0px;
}

.navbar ul li:hover .nav-dropdown li a{
    background:#fff;
}

.navbar .navbar-extra a{
    color: var(--tulisan);
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--tulisan);
    font-weight: bold;
}

#hamburger-menu{
    display: none;
}

/* Section 1: Devinisi */

.devinisi{
    background-image: linear-gradient(rgb(13, 12, 37), rgb(50, 48, 138));
    height: 110vh;
    color: white;
    display: flex!important;
    -webkit-box-align: center!important;
    align-items: center!important;
    -webkit-box-pack: center!important;
    justify-content: center!important;
}

#awalan .penjelasan{
    max-width: 100vw;
    margin: 10% 5%;
}

.organisasi{
    margin: 5rem 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: center!important;
}

.organisasi h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-top: 1rem;
}

.organisasi .kampus-organisasi{
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 2.2em;
    font-weight: 200;
}

.organisasi .periode-organisasi{
    margin-top: 0px;
    font-size: 1.7rem;
    font-weight: 300;
}
.isi{
    padding-top: 1.25rem;
}

.isi img{
    float: left;    
    margin: 0 2rem 2rem 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-height: 35rem;
    max-width: 40rem;
    height: 100%;
    width: 100%;
}

.isi p{
    font-family: "Montserrat";
    font-size: 1.1rem;
    text-align: justify;
    margin: 0 0 0.5rem;
    line-height: 1.5rem;
}

/* Section 2: Kepengurusan */



.batas{
    display: flex!important;
    justify-content: center!important;
    max-width: 100vw;
    margin: 2rem 5%;
    margin-bottom: 2rem;
}

.judul{
    margin: 0 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: center!important;
}

.judul .title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    border: 2px solid;
    padding: 1.5rem;
}


.kepengurusan{
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0 4rem;
    max-width: 100%;
    padding: 0 4rem 4rem;    
}

.kepengurusan .product-container {
    display: grid;
    width: 100%;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr) );
    align-items: center;
}

 .product {
    height: 100%;
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.product h1{
    color: var(--tulisan);
    margin-bottom: 0.5rem;
}

.product button{
    background-color: rgb(190, 189, 189);
    color: var(--tulisan);
    padding: 0.5rem;
    cursor: pointer;
}

.product button:hover{
    background-color: var(--hover);
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
}

.product p{
    color: var(--tulisan);
}

.kepengurusan .product-container .product:hover {
    outline: .2rem solid var(--primary);
}

.kepengurusan .product-container .product img {
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 20px;
}

.kepengurusan .product-container .product:hover img {
    transform: scale(.95);
    transition: all 0.3s;
}

.title2 {
    display: flex!important;
    justify-content: center!important;
    max-width: 100vw;
    margin: 10% 0 2rem;
    font-size: 3rem;
    font-weight: 600;
}
.subkepengurusan{
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    padding: 4rem;    
}

.subkepengurusan .subproduct-container {
    display: grid;
    width: 100%;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr) );
    align-items: center;
}

 .subproduct {
    height: 100%;
    text-align: center;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
} 

/* .subkepengurusan .subproduct-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.subproduct {
    flex: 0 0 40rem;
    text-align: center;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1rem;
    border: solid red;
} */


.subproduct h1{
    color: var(--tulisan);
    margin-bottom: 0.5rem;
}

.subproduct p{
    color: var(--tulisan);
}

.subkepengurusan .subproduct-container .subproduct:hover {
    outline: .2rem solid var(--primary);
}

.subkepengurusan .subproduct-container .subproduct img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 20px;
}

.subkepengurusan .subproduct-container .subproduct:hover img {
    transform: scale(.95);
    transition: all 0.3s;
}

/* Media Querius */
/* Laptop */
@media (max-width: 1366px){
    html{
        font-size:75%;
    }
}

/* Tablet  */
@media (max-width: 768px){
    html{
        font-size:62.5%;
    }
    /* Navbar-Sidebar */
    #hamburger-menu{
        display:inline-block;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 15rem;
        height: 35vh;
        transition: all 300ms ease;
    }

    .navbar .navbar-nav.active{
        right:0;
    }

    .navbar .navbar-nav ul li a{
        color: var(--tulisan);
        display: block;
        margin: 1.5rem;
        padding: 0.3rem;
        font-size: 1.5rem;
    }

    .navbar ul li .nav-dropdown{
        right: 50%
    }

    .navbar ul li:hover .nav-dropdown li a{
        border-radius: 0.5rem;
        padding: 5px;
    }
    .navbar .navbar-nav ul li a:hover{
        color: var(--tulisan);
    }    
    
    .organisasi{
        padding-top: 2rem;
    }
}

/* Mobile Phone */ 
@media (max-width: 450px){
    html{
        font-size:55%;
    } 
    .organisasi{
        padding-top: 5rem;
    }

    .tulisan img{
        float: left;    
        margin: 0 2rem 2rem 2rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        max-height: 35rem;
        max-width: 40rem;
        height: 100%;
        width: 100%;
    }
}
