.ukm{
    background-image: linear-gradient(rgb(13, 12, 37), rgb(50, 48, 138));
    color: white;
}

.judul-ukm{
    margin: 5rem 0 2rem;
    text-align: center!important;
    padding: 5rem 4rem 0;

}

.judul-ukm h1{
    font-size: 4rem;
    font-weight: 600;
}

.judul-ukm p{
    padding: 1rem 0;
    font-size: 1.6em;
    font-weight: 200;
}

/* .jenis-ukm{
    width: 100%;
    max-width: 100%;
    padding: 5rem;  
    border: solid green;  
}

.jenis-ukm .jenis-ukm-container {
    display: grid;
    width: 100%;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr) );
    align-items: center;
    /* justify-content: center; 
    border: solid red ;
}

.product-ukm {
    height: 100%;
    width: 40rem;
    text-align: center;
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: solid red ;
} */

.jenis-ukm .jenis-ukm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-ukm {
    flex: 0 0 40rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 2rem;
}


.product-ukm h1{
    color: var(--tulisan);
    margin-bottom: 0.5rem;
}

.product-ukm p{
    color: var(--tulisan);
}

.jenis-ukm .jenis-ukm-container .product-ukm:hover {
    outline: .2rem solid var(--primary);
}

.jenis-ukm .jenis-ukm-container .product-ukm img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    margin-bottom: 20px;
}

.jenis-ukm .jenis-ukm-container .product-ukm:hover img {
    transform: scale(.95);
    transition: all 0.3s;
}

.jenis-ukm .jenis-ukm-container .product-ukm button{
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: rgb(209, 209, 209);
    border: 1px solid var(--tulisan);
    border-radius: 2rem;
    transition: all 300ms ease;
}

.jenis-ukm .jenis-ukm-container .product-ukm button:hover{
    background-color: var(--hover);
    color: var(--tulisan);
    border: var(--hover);
}