<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
    <head>
        <meta charset="UTF-8">
        <title>Tim Penilai UKM</title>
        <link rel="stylesheet" th:href="@{/css/footer-style.css}">
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <h1 class="nama-organisasi" style="margin-top: 4rem"><b>DAFTAR KEGIATAN UKM</b></h1>
                <p class="kampus-organisasi">SENAT MAHASISWA POLITEKNIK STATISTIKA STIS</p>
                <p class="periode-organisasi">2022/2023</p>
            </div>  
            <div class="container-fluid" style="margin-top: 3rem; margin-bottom: 2rem; width:70%;">
                <form method="get" th:action="@{/admin/kegiatans}" class="d-flex">
                    <input class="form-control me-2" type="text" id="Name" name="keyword" th:value="${keyword}" placeholder="Cari Kegiatan" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
            
            <table class="table table-bordered table-striped" style="background-color: lightgrey; color: black; width:80%; margin-left: auto;
                margin-right: auto;">
                <thead style="background: grey">
                    <th styles="width:10%"> NO </th>
                    <th styles="width:20%"> Nama Kegiatan </th>
                    <th styles="width:20%"> Nama UKM </th>
                    <th styles="width:10%"> Penilaian Waktu </th>
                    <th styles="width:15%"> Penilaian Biaya </th>
                    <th styles="width:10%"> Penilaian Kuantitas </th>
                    <th styles="width:15%"> Nilai Akhir </th>
                    <th styles="width:20%" sec:authorize="hasRole('ADMIN')" >Action </th>
                </thead>
                <tbody>
                    <tr th:each="stdDo,index : ${kegiatanDtos}">
                        <td th:text="${index.count}" style="width:5%">No</td>
                        <td th:text="${stdDo.namaKegiatan}" style="width:15%">nama-kegiatan</td>
                        <td th:text="${stdDo.ukm}"style="width:12%">nama-ukm</td>
                        <td th:text="${stdDo.penilaianWaktu}" style="width:10%">penilaian-Waktu</td>
                        <td th:text="${stdDo.penilaianBiaya}" style="width:10%">penilaian-Biaya</td>
                        <td th:text="${stdDo.penilaianKuantitas}" style="width:10%">penilaian-Kuantitas</td>
                        <td th:text="${stdDo.nilaiTotal}" style="width:10%">nilai-total</td>
                        <td sec:authorize="hasRole('ADMIN')" style="width:15%">    
                            <a onclick="alert(`Anda akan mengupdate data`)" th:href="@{/admin/kegiatans/update/{id}(id=${stdDo.id})}" type="submit" class="btn btn-primary">Update</a>
                            <a onclick="alert(`Anda akan menghapus data`)" th:href="@{/admin/kegiatans/delete/{id}(id=${stdDo.id})}" type="submit" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${notFound}">
            <div class="popup" style="color:white">
                <p>Data tidak ditemukan!</p>
            </div>
        </div>
    </body>
</html>
