<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
<head>
  <meta charset="UTF-8">
  <title>Update UKM Form</title>
</head>
<body>
<div layout:fragment="content">
  <div class="containerr">
    <div class="row col-md-8 offset-md-2">
      <div class="card" style="margin-top: 3rem; margin-bottom: 4rem">
        <div class="card-header" style="padding: 1rem">
            <h2 class="text-center"><b>Update Data UKM</b></h2>
        </div>
        <div class="card-body">
          <form role="form" method="post" th:action="@{/admin/ukms/update}" th:object="${ukmDto}">
            <div class="mb-3">
                <label class="form-label"><b>Nama UKM</b></label>
                <input type="text" class="form-control"
                       placeholder="Enter UKM Name" th:field="*{namaUkm}">
                <p th:if="${#fields.hasErrors('namaUkm')}" class="text-danger"
                   th:errors="*{namaUkm}"></p>
              </div>
              <div class="mb-3">
                <label class="form-label"><b>Daftar Kegiatan</b></label>
                <select th:field="*{kegiatan}" class="form-control" multiple="multiple" required>
                                <th:block th:each="cat : ${listKegiatans}">
                                    <option th:text="${cat.namaKegiatan}" th:value="${cat.id}">
                                </th:block>
                 </select>
              </div>
              <div class="mb-3">
                <label class="form-label"><b>Nilai</b></label>
                <input type="text" class="form-control"
                       placeholder="Enter Grade Point" th:field="*{nilai}">
                <p th:if="${#fields.hasErrors('nilai')}" class="text-danger"
                   th:errors="*{nilai}"></p>
              </div>

              <input type="hidden" th:field="*{id}">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
