<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Tim Penilai UKM</title>
    <link rel="stylesheet" th:href="@{/css/footer-style.css}">
</head>
<body>
    <div layout:fragment="content"> 
        <div class="container">
                <h1 class="nama-organisasi" style="margin-top: 4rem"><b>DAFTAR UKM</b></h1>
                <p class="kampus-organisasi">SENAT MAHASISWA POLITEKNIK STATISTIKA STIS</p>
                <p class="periode-organisasi">2022/2023</p>
        </div> 
        <div class="container-fluid" style="margin-top: 3rem; margin-bottom: 2rem; width:70%;">
            <form method="get" th:action="@{/admin/ukms}" class="d-flex">
                <input class="form-control me-2" type="text" id="Name" name="keyword" th:value="${keyword}" placeholder="Cari UKM" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>        
        <table class="table table-bordered table-striped" style="background-color: lightgrey; color: black; width:80%; margin-left: auto;
                margin-right: auto;">
            <thead style="background: grey">
                <th styles="width:10%"> No </th>
                <th styles="width:20%"> Nama UKM </th>
                <th styles="width:20%"> Daftar Kegiatan </th>
                <th styles="width:20%"> Nilai </th>
                <th styles="width:30%"> Keterangan </th>
                <th styles="width:10%" sec:authorize="hasRole('ADMIN')"> Actions </th>
            </thead>
            <tbody>
                <tr th:each="stdDo,index : ${ukmDtos}">
                    <td th:text="${index.count}">No</td>
                    <td th:text="${stdDo.namaUkm}">nama-Ukm</td>
                    <td>
                        <span th:each="kegiatan, iterStat : ${stdDo.kegiatan}">
                            <span th:text="${iterStat.count} + '. ' + ${kegiatan.namaKegiatan}"></span>
                            <br/>
                        </span>
                    </td>
                    <td th:text="${stdDo.nilai}">nilai</td>
    <!--                <td th:text="${stdDo.keterangan}">keterangan</td>-->
                    <td>
                        <span th:if="${stdDo.nilai > 75}">Lulus</span>
                        <span th:unless="${stdDo.nilai > 75}">Tidak Lulus</span>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')"> 
                        <a onclick="alert(`Data akan diperbaharui`)" th:href="@{/admin/ukms/update/{id}(id=${stdDo.id})}" type="submit" class="btn btn-primary">Update</a>
                        <a onclick="alert(`Data akan dihapus`)" th:href="@{/admin/ukms/delete/{id}(id=${stdDo.id})}" type="submit" class="btn btn-danger">Delete</a> 
                    </td>
                </tr>
            </tbody> 
        </table>
        <div th:if="${notFound}">
            <div class="popup" style="color:white">
                <p>Data tidak ditemukan!</p>
            </div>
        </div>
</body>
</html>