<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html 
    lang="en" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Penilai UKM</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/footer-style.css}">
    
    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Varela+Round&display=swap" rel="stylesheet">

    <!-- Feather Icon -->
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body >
     <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 0">
        <div class="container-fluid" style="margin-left: 1rem;">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
<!--                    <img src="/img/logo-sema-navigasi.png" alt="" width="40" height="40" class="d-inline-block align-text-top">-->
                    <a class="navbar-brand" href="#" style="margin-left: 1rem;">
                        <span style="font-size: 1.5rem;">Tim Penilai UKM</span> <br>

                    </a>
                </div>
            </nav>
            
            <div class="collapse navbar-collapse" id="navbarText" style="margin-left: 5rem;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page" href="#">Home</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/register}" class="nav-link">Register</a></li>
                    <li class="nav-item" sec:authorize="isAnonymous()"><a th:href="@{/login}" class="nav-link">Login</a></li>                   
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/admin/ukms}" class="nav-link">Daftar UKM</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/ukms/add}" class="nav-link">Create UKM</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/admin/kegiatans}" class="nav-link">Daftar Kegiatan</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/kegiatans/add}" class="nav-link">Create Kegiatan</a></li>
<!--                    <li class="nav-item" sec:authorize="isAuthenticated()"><a href="#" class="nav-link">FAQ</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/admin/about}" class="nav-link">About</a></li> -->
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="nav-link" aria-current="page">Logout</a></li>
                </ul>
            </div>
        </div>
      </nav> 
      <div layout:fragment="content"> <p>Body Contents</p> </div>

    <footer>
        <div class="social">
            <h6>TIM PENILAI UKM 2022/2023</h6>
            <p>SENAT MAHASISWA POLITEKNIK STATISTIKA STIS</p>
            <a href="https://www.youtube.com/@senatmahasiswapolstatstis6397" target="_blank"><i data-feather="youtube"></i></a>
            <a href="https://web.facebook.com/sema.stis/?_rdc=1&_rdr" target="_blank"><i data-feather="facebook"></i></a>
            <a href="https://www.instagram.com/sema_stis/" target="_blank"><i data-feather="instagram"></i></a>
            <a href="https://twitter.com/SEMA_STIS" target="_blank"><i data-feather="twitter"></i></a>
        </div>
        <div class="hubungi-kami">
            <a href="https://api.whatsapp.com/send/?phone=6285694380943&text&type=phone_number&app_absent=0" target="_blank"><i class="fab fa-whatsapp whatsapp-icon"></i>Hubungi Kami</a>
        </div>
        <div class="credit">
            <p>Created by <a href="https://www.instagram.com/sofiznh/" target="_blank">sofiznh</a> | &copy; 2023</p>
        </div>
    </footer>
    
      <!-- Feather Icon -->
    <script>
        feather.replace()
    </script>
   
    <!--Option Section-->
    <th:block layout:fragment="optional"/>
</body>
</html>
