<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout"
      >
    <head>
        <title>Welcome to Our Site</title>
        <link rel="stylesheet" th:href="@{/css/footer-style.css}">
    </head>
    <body style="margin: 0">
        <div layout:fragment="content">
            <div class="logo-organisasi">
                <img th:src="@{/css/logo-sema-hd.png}" width="200" alt="Logo SEMA">
            </div>

            <div class="container">
                <h1 class="nama-organisasi"><b>TIM PENILAI UKM</b></h1>
                <p class="kampus-organisasi">SENAT MAHASISWA POLITEKNIK STATISTIKA STIS</p>
                <p class="periode-organisasi">2022/2023</p>
                <h2 class="kabinet-organisasi">"KABINET ABHIPRAYA NISCALA JAYA"</h2>
            </div>   
            <div class="tentang-kami-full">
                <div class="container-kiri">
                    <div class="gambar-about">
                        <img th:src="@{/css/tentang kami.jpg}" width="310" alt="Tentang Kami">
                    </div>
                </div >
                <div class="container-kanan">
                    <h3><b>Tim Penilai UKM</b></h3>
                    <p>
                        Tim Penilai UKM merupakan suatu tim yang bertugas menilai kinerja 
                        organisasi-organisasi di bawah Senat Mahasiswa Politeknik Statistika 
                        STIS (UKM) melalui perbandingan realisasi kegiatan dengan target 
                        kegiatan. Hasil penilaian diharapkan dapat digunakan untuk pengambilan 
                        kebijakan lebih lanjut, baik di dalam organisasi itu sendiri, maupun 
                        dari Senat Mahasiswa Politeknik Statistika STIS mengenai organisasi terkait.
                    </p>
                </div>
            </div>
            <div class="ukm-penjelass">
                <div class="judul-ukmm">
                    <h1>HIGHLIGHT</h1>
                    <h1>KEGIATAN UKM</h1>      
                </div>
                <div class="macam-ukmm">
                    <div class="macam-ukm-containerr" >
                        <div class="product-macam-ukmm">
                            <img th:src="@{/css/img-3.jpg}">
                            <h1>Makrab Ukes</h1>
                        </div>
                        <div class="product-macam-ukmm">
                            <img th:src="@{/css/img-4.jpg}">
                            <h1>Raprut Bimbel</h1>
                        </div>
                        <div class="product-macam-ukmm">
                            <img th:src="@{/css/img-8.jpg}">
                            <h1>Hari Catur</h1>
                        </div>
                        <div class="product-macam-ukmm">
                            <img th:src="@{/css/img-7.jpg}">
                            <h1>Tanding E-Sport</h1>
                        </div>
                        <div class="product-macam-ukmm">
                            <img th:src="@{/css/img-5.jpg}">
                            <h1>PMI</h1>
                        </div>
                        <div class="product-macam-ukmm">
                            <img th:src="@{/css/img-6.jpg}">
                            <h1>Semanniversary</h1>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </body>
</html>