<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thmelef/layout"
      layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="containerr">
            <div class="row col-md-8 offset-md-2">
                <div class="card" style="margin-top: 3rem; margin-bottom: 4rem">
                    <div class="card-header">
                        <h2 class="text-center card-header" style="padding: 1rem; color: black"><b>Registration</b></h2>
                    </div>
                    <div th:if="${param.success}">
                        <div class="alert alert-info">
                          You have successfully registered our app!
                        </div>
                    </div>
                    <div class="card-body">
                        <form
                            method="post"
                            role="form"
                            th:action="@{/register/save}"
                            th:object="${user}"
                        >
                            <div class="form-group mb-3">
                                <label class="form-label" style="color: black"><b>First Name</b></label>
                                <input
                                        class="form-control"
                                        id="firstName"
                                        name="firstName"
                                        placeholder="Enter first name"
                                        th:field="*{firstName}"
                                        type="text"
                                />
                                <p th:errors = "*{firstName}" class="text-danger"
                                th:if="${#fields.hasErrors('firstName')}"></p>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label"style="color: black"><b>Last Name</b></label>
                                <input
                                        class="form-control"
                                        id="lastName"
                                        name="lastName"
                                        placeholder="Enter last name"
                                        th:field="*{lastName}"
                                        type="text"
                                />
                                <p th:errors = "*{lastName}" class="text-danger"
                                   th:if="${#fields.hasErrors('lastName')}"></p>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label" style="color: black"><b>Email</b></label>
                                <input
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="Enter email address"
                                        th:field="*{email}"
                                        type="email"
                                />
                                <p th:errors = "*{email}" class="text-danger"
                                   th:if="${#fields.hasErrors('email')}"></p>
                            </div>

                            <div class="form-group mb-3">
                                <label class="form-label"style="color: black"><b>Password</b></label>
                                <input
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        placeholder="Enter password"
                                        th:field="*{password}"
                                        type="password"
                                />
                                <p th:errors = "*{password}" class="text-danger"
                                   th:if="${#fields.hasErrors('password')}"></p>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Register</button>
                                <span>Already registered? <a th:href="@{/login}">Login here</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>