:root {
    --primary: #F6D41B;
    --bg: rgb(50, 48, 138);
    --tulisan: rgb(21, 19, 63);
    --hover: rgb(117, 145, 206);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

body{
    font-family: 'Montserrat', 'Poppins',sans-serif;
/*    background-color: var(--bg);*/
    background: linear-gradient(rgb(13, 12, 37), rgb(50, 48, 138));

}



/*home*/
.container{
    color: white;
    text-align: center;
}

/*.container h1{
    padding-top: 5rem;
}*/
.container h2{
    padding-bottom: 2rem;
}

.logo-organisasi{
    text-align: center!important;
    padding: 4rem 2rem 2rem;
}
/*
.tentang-kami{
    color:white;
    padding: 0 4rem;
    text-align: justify;
}*/

.tentang-kami-full{ 
    color: white;
}

/*.container{
    width: 100%;
    margin: 3em 2em 2em 4em;
    padding: 5.5rem 0;
}*/

.tentang-kami-full{
    width: 100%;
    margin: 3em 2em 2em 4em;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 70%;
}

.container-kiri{
    display: block;
}

.container-kiri img{
    border-radius: 20px;
    width: 100%;
    max-width: 2000px;
    padding: 10px 0 0 0;
}

.container-kanan{
    margin: 3rem 2rem 2.4rem 0;
    text-align: justify;
    line-height: 2.2em;
}

.container-kanan h1{
    line-height: 1.5em;
    font-size: 2.8em;
    font-weight: 600;
    text-align: left;
}

.container-kanan p{
    margin-right: 2rem;
    padding-right: 5rem;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-family: 'poppins', sans-serif;
}

.container-kanan button{
    padding: 8px;
    background-color: white;
    color: var(--tulisan);
    border-radius: 10px;
    border-color: var(--bg);
    border-width: 2pt;
    cursor: pointer;
}

.container-kanan button:hover{
    color: var(--primary);
    background-color: var(--tulisan);
}

/* Highlight*/
.ukm-penjelass{
    color: white;
}

.judul-ukmm{
    margin: 5rem 0 2rem;
    text-align: center!important;
    padding: 5rem 4rem 0;

}

.judul-ukmm h1{
    font-size: 4rem;
    font-weight: 600;
}

.judul-ukmm p{
    padding: 1rem 0;
    font-size: 1.6em;
    font-weight: 200;
}


.macam-ukmm .macam-ukm-containerr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-macam-ukmm {
    flex: 0 0 30rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 2rem;
    cursor: pointer;
}


.product-macam-ukmm h1{
    color: var(--tulisan);
    margin-bottom: 0.5rem;
}

.product-macam-ukmm p{
    color: var(--tulisan);
}

.macam-ukmm .macam-ukm-containerr .product-macam-ukmm:hover {
    outline: .2rem solid var(--primary);
}

.macam-ukmm .macam-ukm-containerr .product-macam-ukmm img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    padding: 1rem;
}

.macam-ukmm .macam-ukm-containerr .product-macam-ukmm:hover img {
    transform: scale(.95);
    transition: all 0.3s;
}

.macam-ukmm .macam-ukm-containerr .product-macam-ukmm button{
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: rgb(209, 209, 209);
    border: 1px solid var(--tulisan);
    border-radius: 2rem;
    transition: all 300ms ease;
}

.macam-ukmm .macam-ukm-containerr .product-macam-ukmm button:hover{
    background-color: var(--hover);
    color: var(--tulisan);
    border: var(--hover);
}

/* Footer */
footer{
    background-color: #fff;
    padding: 1rem 0;
    margin-top: 3rem;
    text-align: center;
    color: var(--tulisan);
}

footer .social{
    padding: 1rem 0;
}

.social h6{
    font-size: 18px;
}

.social p{
    font-size:15px;
    margin-bottom: 1.5rem;
}

footer .social a{
    color: var(--tulisan);
    margin: 1rem;
    transition: all 300ms ease;
}

footer .social a:hover{
    color: var(--hover);
    margin: 1rem;
}

footer .hubungi-kami{
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}

footer .hubungi-kami a{
    font-size: 13px;
    padding: 1rem;
    background-color: var(--tulisan);
    color: #fff;
    border-radius: 10px;
    border-color: var(--primary);
    border-width: 2pt;
    cursor: pointer;
    transition: all 300ms ease;
}

footer .hubungi-kami a:hover{
    color: var(--tulisan);
    background-color: var(--hover);
    font-weight: bold;
}

.whatsapp-icon{
    font-size: 1.7rem;
    margin-right: 0.7rem;
}

footer .credit{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

footer .credit a{
    color: var(--tulisan);
    font-weight: bold;
    font-family: "Varela Round";
    transition: all 300ms ease;
}

footer .credit a:hover{
    color: var(--hover);
    font-weight: bold;
}